.body{
    background-image: url(gt.png);
    background-size:cover;
}


.box{
    height: 300px;
    width: 300px;
    border-radius:20px;
    background-color: #ffffff;
    border-color: #949494;
    top: 100px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 28px #888888;
}

.shader{
    /*display: flex;*/
    width: 300px;
    height: 300px;
    /*border-radius:20px;*/
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    /*background-color: #000000;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.user{
    height: 70px;
    width: 300px;
    padding-top: 10px;
}


.header{
    height: 80px;
    width: 300px;
    padding-top: 10px;
}

.foot{
    height: 130px;
    width: 300px;
}

.mail_text{
    /*padding-left: 50%;*/
    padding-left: 30px;
}

.m_text{
    font-family: Ubuntu;
    font-size: larger;
    color: #000000;
}

.pwd_text{
    padding-left: 30px;
    margin-top: 12px;
}

.p_text{
    font-family: Ubuntu;
    font-size: larger;
    color: #000000;

}

.mail_input{
    /*align-items: center;*/
    width: 266px;
    border-radius:15px;
    /*justify-content: center;*/
    margin-left: auto;
    margin-right: auto;
}

.pwd_input{
    width: 266px;
    border-radius:15px;
    /*justify-content: center;*/
    margin-left: auto;
    margin-right: auto;
}

.m_in_box{
    height: 30px;
    width: 258px;
    border-radius:10px;
    box-shadow: 1px 3px 5px #8A8989;
    font-size: 16px;
    border: 1px solid #ffffff;
}


.p_in_box{
    height: 30px;
    width: 258px;
    border-radius:10px;
    font-size: 16px;
    box-shadow: 1px 3px 5px #8A8989;
    border: 1px solid #ffffff;
}

.tips{
    padding-left: 23px;
    color: #e2231a;
    font-family: Ubuntu;
    font-size: small;
}

.butBox{
    display: flex;
    height: 100px;
    width: 300px;
}

.but{
    width: 150px;
    height: 100px;

}

.button{
    width: 120px;
    height: 50px;
    border-radius: 13pt/13pt;
    border: 2px solid #ffffff;
    position: relative;
    top: 0;
    bottom: 0;
    left: 14px;
    right: 0;
    font-size: 18px;
}
#but2{
    padding-right: 2px;
}

#signIn{
    background-color: cornflowerblue;
}

#signUp{
    background-color: #8A8989;
}